:root {
    --normal: #aa9;
    --fire: #f42;
    --water: #39f;
    --electric: #fc3;
    --grass: #7c5;
    --ice: #6cf;
    --fighting: #b54;
    --poison: #a59;
    --ground: #db5;
    --flying: #89f;
    --psychic: #f59;
    --bug: #ab2;
    --rock: #ba6;
    --ghost: #66b;
    --dragon: #76e;
    --dark: #754;
    --steel: #aab;
    --fairy: #e9e;
    --grad-rotation: 0deg;
}

/* Mono Types */

.normal{
    background-color:#aa9
}

.fire{
    background-color:#f42
}
.water{
    background-color:#39f
}
.electric{
    background-color:#fc3
}
.grass{
    background-color:#7c5
}
.ice{
    background-color:#6cf
}
.fighting{
    background-color:#b54
}
.poison{
    background-color:#a59
}
.ground{
    background-color:#db5
}
.flying{
    background-color:#89f
}
.psychic{
    background-color:#f59
}
.bug{
    background-color:#ab2
}
.rock{
    background-color:#ba6
}
.ghost{
    background-color:#66b
}
.dragon{
    background-color:#76e
}
.dark{
    background-color:#754
}
.steel{
    background-color:#aab
}
.fairy{
    background-color:#e9e
}

/*dual types*/

/*Normal*/

[class~="normal"][class~="flying"] {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--flying)
    );
}
/* .normal.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--flying)
    );
} */
.normal.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--fighting)
    );
}
.normal.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--poison)
    );
}
.normal.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--ground)
    );
}
.normal.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--rock)
    );
}
.normal.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--bug)
    );
}
.normal.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--ghost)
    );
}
.normal.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--steel)
    );
}
.normal.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--fire)
    );
}
.normal.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--water)
    );
}
.normal.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--grass)
    );
}
.normal.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--electric)
    );
}
.normal.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--psychic)
    );
}
.normal.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--ice)
    );
}
.normal.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--dragon)
    );
}
.normal.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--dark)
    );
}
.normal.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--normal), var(--fairy)
    );
}

/*Fighting*/

.fighting.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--flying)
    );
}
.fighting.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--normal)
    );
}
.fighting.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--poison)
    );
}
.fighting.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--ground)
    );
}
.fighting.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--rock)
    );
}
.fighting.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--bug)
    );
}
.fighting.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--ghost)
    );
}
.fighting.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--steel)
    );
}
.fighting.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--fire)
    );
}
.fighting.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--water)
    );
}
.fighting.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--grass)
    );
}
.fighting.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--electric)
    );
}
.fighting.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--psychic)
    );
}
.fighting.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--ice)
    );
}
.fighting.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--dragon)
    );
}
.fighting.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--dark)
    );
}
.fighting.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fighting), var(--fairy)
    );
}

/*Flying*/

.flying.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--fighting)
    );
}
.flying.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--normal)
    );
}
.flying.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--poison)
    );
}
.flying.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--ground)
    );
}
.flying.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--rock)
    );
}
.flying.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--bug)
    );
}
.flying.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--ghost)
    );
}
.flying.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--steel)
    );
}
.flying.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--fire)
    );
}
.flying.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--water)
    );
}
.flying.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--grass)
    );
}
.flying.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--electric)
    );
}
.flying.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--psychic)
    );
}
.flying.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--ice)
    );
}
.flying.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--dragon)
    );
}
.flying.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--dark)
    );
}
.flying.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--flying), var(--fairy)
    );
}
/*Poison*/

.poison.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--fighting)
    );
}
.poison.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--normal)
    );
}
.poison.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--flying)
    );
}
.poison.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--ground)
    );
}
.poison.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--rock)
    );
}
.poison.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--bug)
    );
}
.poison.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--ghost)
    );
}
.poison.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--steel)
    );
}
.poison.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--fire)
    );
}
.poison.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--water)
    );
}
.poison.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--grass)
    );
}
.poison.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--electric)
    );
}
.poison.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--psychic)
    );
}
.poison.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--ice)
    );
}
.poison.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--dragon)
    );
}
.poison.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--dark)
    );
}
.poison.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--poison), var(--fairy)
    );
}
/*Ground*/

.ground.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--fighting)
    );
}
.ground.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--normal)
    );
}
.ground.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--flying)
    );
}
.ground.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--poison)
    );
}
.ground.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--rock)
    );
}
.ground.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--bug)
    );
}
.ground.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--ghost)
    );
}
.ground.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--steel)
    );
}
.ground.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--fire)
    );
}
.ground.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--water)
    );
}
.ground.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--grass)
    );
}
.ground.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--electric)
    );
}
.ground.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--psychic)
    );
}
.ground.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--ice)
    );
}
.ground.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--dragon)
    );
}
.ground.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--dark)
    );
}
.ground.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ground), var(--fairy)
    );
}
/*Rock*/

.rock.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--fighting)
    );
}
.rock.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--normal)
    );
}
.rock.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--flying)
    );
}
.rock.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--poison)
    );
}
.rock.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--ground)
    );
}
.rock.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--bug)
    );
}
.rock.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--ghost)
    );
}
.rock.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--steel)
    );
}
.rock.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--fire)
    );
}
.rock.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--water)
    );
}
.rock.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--grass)
    );
}
.rock.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--electric)
    );
}
.rock.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--psychic)
    );
}
.rock.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--ice)
    );
}
.rock.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--dragon)
    );
}
.rock.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--dark)
    );
}
.rock.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--rock), var(--fairy)
    );
}
/*Bug*/

.bug.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--fighting)
    );
}
.bug.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--normal)
    );
}
.bug.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--flying)
    );
}
.bug.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--poison)
    );
}
.bug.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--ground)
    );
}
.bug.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--rock)
    );
}
.bug.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--ghost)
    );
}
.bug.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--steel)
    );
}
.bug.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--fire)
    );
}
.bug.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--water)
    );
}
.bug.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--grass)
    );
}
.bug.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--electric)
    );
}
.bug.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--psychic)
    );
}
.bug.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--ice)
    );
}
.bug.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--dragon)
    );
}
.bug.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--dark)
    );
}
.bug.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--bug), var(--fairy)
    );
}
/*Ghost*/

.ghost.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--fighting)
    );
}
.ghost.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--normal)
    );
}
.ghost.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--flying)
    );
}
.ghost.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--poison)
    );
}
.ghost.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--ground)
    );
}
.ghost.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--rock)
    );
}
.ghost.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--bug)
    );
}
.ghost.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--steel)
    );
}
.ghost.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--fire)
    );
}
.ghost.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--water)
    );
}
.ghost.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--grass)
    );
}
.ghost.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--electric)
    );
}
.ghost.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--psychic)
    );
}
.ghost.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--ice)
    );
}
.ghost.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--dragon)
    );
}
.ghost.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--dark)
    );
}
.ghost.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ghost), var(--fairy)
    );
}
/*Steel*/

.steel.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--fighting)
    );
}
.steel.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--normal)
    );
}
.steel.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--flying)
    );
}
.steel.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--poison)
    );
}
.steel.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--ground)
    );
}
.steel.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--rock)
    );
}
.steel.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--bug)
    );
}
.steel.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--ghost)
    );
}
.steel.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--fire)
    );
}
.steel.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--water)
    );
}
.steel.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--grass)
    );
}
.steel.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--electric)
    );
}
.steel.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--psychic)
    );
}
.steel.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--ice)
    );
}
.steel.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--dragon)
    );
}
.steel.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--dark)
    );
}
.steel.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--steel), var(--fairy)
    );
}
/*Fire*/

.fire.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--fighting)
    );
}
.fire.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--normal)
    );
}
.fire.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--flying)
    );
}
.fire.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--poison)
    );
}
.fire.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--ground)
    );
}
.fire.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--rock)
    );
}
.fire.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--bug)
    );
}
.fire.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--ghost)
    );
}
.fire.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--steel)
    );
}
.fire.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--water)
    );
}
.fire.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--grass)
    );
}
.fire.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--electric)
    );
}
.fire.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--psychic)
    );
}
.fire.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--ice)
    );
}
.fire.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--dragon)
    );
}
.fire.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--dark)
    );
}
.fire.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fire), var(--fairy)
    );
}
/*Water*/

.water.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--fighting)
    );
}
.water.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--normal)
    );
}
.water.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--flying)
    );
}
.water.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--poison)
    );
}
.water.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--ground)
    );
}
.water.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--rock)
    );
}
.water.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--bug)
    );
}
.water.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--ghost)
    );
}
.water.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--steel)
    );
}
.water.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--fire)
    );
}
.water.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--grass)
    );
}
.water.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--electric)
    );
}
.water.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--psychic)
    );
}
.water.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--ice)
    );
}
.water.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--dragon)
    );
}
.water.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--dark)
    );
}
.water.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--water), var(--fairy)
    );
}
/*Grass*/

.grass.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--fighting)
    );
}
.grass.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--normal)
    );
}
.grass.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--flying)
    );
}
.grass.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--poison)
    );
}
.grass.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--ground)
    );
}
.grass.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--rock)
    );
}
.grass.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--bug)
    );
}
.grass.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--ghost)
    );
}
.grass.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--steel)
    );
}
.grass.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--fire)
    );
}
.grass.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--water)
    );
}
.grass.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--electric)
    );
}
.grass.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--psychic)
    );
}
.grass.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--ice)
    );
}
.grass.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--dragon)
    );
}
.grass.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--dark)
    );
}
.grass.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--grass), var(--fairy)
    );
}
/*Electric*/

.electric.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--fighting)
    );
}
.electric.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--normal)
    );
}
.electric.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--flying)
    );
}
.electric.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--poison)
    );
}
.electric.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--ground)
    );
}
.electric.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--rock)
    );
}
.electric.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--bug)
    );
}
.electric.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--ghost)
    );
}
.electric.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--steel)
    );
}
.electric.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--fire)
    );
}
.electric.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--water)
    );
}
.electric.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--grass)
    );
}
.electric.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--psychic)
    );
}
.electric.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--ice)
    );
}
.electric.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--dragon)
    );
}
.electric.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--dark)
    );
}
.electric.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--electric), var(--fairy)
    );
}
/*Psychic*/

.psychic.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--fighting)
    );
}
.psychic.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--normal)
    );
}
.psychic.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--flying)
    );
}
.psychic.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--poison)
    );
}
.psychic.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--ground)
    );
}
.psychic.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--rock)
    );
}
.psychic.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--bug)
    );
}
.psychic.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--ghost)
    );
}
.psychic.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--steel)
    );
}
.psychic.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--fire)
    );
}
.psychic.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--water)
    );
}
.psychic.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--grass)
    );
}
.psychic.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--electric)
    );
}
.psychic.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--ice)
    );
}
.psychic.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--dragon)
    );
}
.psychic.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--dark)
    );
}
.psychic.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--psychic), var(--fairy)
    );
}
/*Ice*/

.ice.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--fighting)
    );
}
.ice.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--normal)
    );
}
.ice.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--flying)
    );
}
.ice.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--poison)
    );
}
.ice.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--ground)
    );
}
.ice.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--rock)
    );
}
.ice.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--bug)
    );
}
.ice.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--ghost)
    );
}
.ice.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--steel)
    );
}
.ice.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--fire)
    );
}
.ice.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--water)
    );
}
.ice.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--grass)
    );
}
.ice.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--electric)
    );
}
.ice.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--psychic)
    );
}
.ice.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--dragon)
    );
}
.ice.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--dark)
    );
}
.ice.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--ice), var(--fairy)
    );
}
/*Dragon*/

.dragon.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--fighting)
    );
}
.dragon.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--normal)
    );
}
.dragon.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--flying)
    );
}
.dragon.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--poison)
    );
}
.dragon.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--ground)
    );
}
.dragon.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--rock)
    );
}
.dragon.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--bug)
    );
}
.dragon.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--ghost)
    );
}
.dragon.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--steel)
    );
}
.dragon.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--fire)
    );
}
.dragon.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--water)
    );
}
.dragon.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--grass)
    );
}
.dragon.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--electric)
    );
}
.dragon.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--psychic)
    );
}
.dragon.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--ice)
    );
}
.dragon.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--dark)
    );
}
.dragon.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dragon), var(--fairy)
    );
}
/*Dark*/

.dark.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--fighting)
    );
}
.dark.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--normal)
    );
}
.dark.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--flying)
    );
}
.dark.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--poison)
    );
}
.dark.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--ground)
    );
}
.dark.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--rock)
    );
}
.dark.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--bug)
    );
}
.dark.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--ghost)
    );
}
.dark.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--steel)
    );
}
.dark.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--fire)
    );
}
.dark.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--water)
    );
}
.dark.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--grass)
    );
}
.dark.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--electric)
    );
}
.dark.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--psychic)
    );
}
.dark.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--ice)
    );
}
.dark.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--dragon)
    );
}
.dark.fairy {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--dark), var(--fairy)
    );
}
/*Fairy*/

.fairy.fighting {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--fighting)
    );
}
.fairy.normal {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--normal)
    );
}
.fairy.flying {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--flying)
    );
}
.fairy.poison {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--poison)
    );
}
.fairy.ground {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--ground)
    );
}
.fairy.rock {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--rock)
    );
}
.fairy.bug {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--bug)
    );
}
.fairy.ghost {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--ghost)
    );
}
.fairy.steel {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--steel)
    );
}
.fairy.fire {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--fire)
    );
}
.fairy.water {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--water)
    );
}
.fairy.grass {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--grass)
    );
}
.fairy.electric {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--electric)
    );
}
.fairy.psychic {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--psychic)
    );
}
.fairy.ice {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--ice)
    );
}
.fairy.dragon {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--dragon)
    );
}
.fairy.dark {
    background-color: transparent;
    background: linear-gradient(
        var(--grad-rotation), var(--fairy), var(--dark)
    );
}